.popup-module {
  max-height: 100%;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  width: auto;
  margin: 0 auto;
  overflow: hidden;
  @apply bg-white;

  .popup-module-main {
    flex: 1;
    overflow: auto;
    display: flex;
    flex-direction: column;
  }

  .popup-module-action-bar {
    gap: 16px;
    @apply flex flex-row justify-end;
  }

  .modal-form {
    grid-template-columns: 1fr;
  }
}

@screen dt {
  .popup-module {
    width: auto;
    margin: auto;
    @apply bg-white;

    .popup-module-main {
      @apply w-full p-md h-full;
    }

    .popup-module-action-bar {
      gap: 16px;
      @apply flex flex-row justify-end;
    }
  }
}
